/* CONFIGURAÇÕES GERAIS */
* {
    box-sizing: border-box;
}

body, p, input, button, div {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}




/* CONFIGURAÇÃO PAGINA ENTRADA */
.pagina-entrada {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    z-index: 2;
    position: fixed;
}

.pagina-entrada img:first-child {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.pagina-entrada input {
    width: 269px;
    height: 54px;
    text-align: center;
    margin-top: 94px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    background-color: white;
    font-size: 18px;
    color: #aeaeae;
}

.pagina-entrada button {
    width: 110px;
    height: 45px;
    margin-top: 15px;
    border-radius: 9px;
    background-color: #E7E7E7;
    border: none;
    font-size: 18px;
    color: #696969;
}

.erro {
    margin-top: 100px;
    width: 70%;
    height: auto;
    border: 4px solid transparent;
    border-radius: 20px;
    background: 
    linear-gradient(to right, white, white), 
    linear-gradient(to right, red , blue); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.entrando {
    margin-top: 100px;
    width: 70%;
    height: auto;
    pointer-events: none;
}


/* CONFIGURAÇÕES DA PAGINA PRINCIPAL */
.pagina {
    width: 100%;
    height: 100%;

}

/* config. topo */
.topo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 23px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.topo img {
    width: 75px;
    height: auto;
}

.topo ion-icon {
    font-size: 45px;
}

/* config. area de mensagens */
.area-mensagens {
    width: 100%;
    height: 100%;
    padding: 103px 0;
    background-color: #F3F3F3;
}

.mensagem {
    width: 100%;
    min-height: 40px;
    padding: 12px 8px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    line-height: 16.4px;
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

.hora {
    color: #AAAAAA;
    margin-right: 5px;
}

.chat-usuarios {
    margin-right: 7px;
}

strong {
    font-weight: 700;
}

.texto-mensagem {

}

.aviso {
    background-color: #DCDCDC;
}

.privado {
    background-color: #FFDEDE;
}

/* config rodapé */
.rodape {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 25px 17px;
    font-size: 28px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    z-index: 1;
}

.rodape input {
    width: 90%;
    height: auto;
    border: none;
    font-size: 18px;
    font-style: italic;
    line-height: 21px;
}

.rodape input::placeholder {
    color: #000000;
}

.rodape ion-icon {
    
}



/* CONFIGURAÇÃO MENU LATERAL */
.menu-lateral {
    width: 269px;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    z-index: 2;
    box-shadow: 0 0 calc(100vw) calc(100vw) rgba(0, 0, 0, 0.7);
}

.menu-lateral p {
    font-size: 16px;

}

.escolha-contato > p{
    text-align: center;
    font-weight: 700;
    line-height: 19px;
    margin: 25px 50px;
}

.contato-todos {
    width: 100%;
    height: 36px;
    display: flex;
    margin-left: 18px;
    padding-right: 30px;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
}

.contato-ativo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 420px;
    overflow-y: scroll;
    padding-right: 30px;
}

.usuario { 
    display: flex;
    margin-left: 18px;
    align-items: center;
    font-size: 25px;

    justify-content: space-between;
    flex-direction: row;
}

.contato-todos span, .contato-ativo span, .visibilidade-privada span, .visibilidade-publica span{
    display: flex;
    align-items: center;
    height: 36px;
}

.contato-todos p, .contato-ativo p, .visibilidade-privada p, .visibilidade-publica p{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contato-todos p:hover, .contato-ativo p:hover, .visibilidade-privada p:hover, .visibilidade-publica p:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
    max-height: 32px;
}


.contato-todos ion-icon, .contato-ativo ion-icon, .visibilidade-publica ion-icon, .visibilidade-privada ion-icon {
    margin-right: 8px;
}

.escolha-visibilidade > p{
    text-align: center;
    font-weight: 700;
    line-height: 19px;
    margin: 25px 50px;
}

.visibilidade-publica {
    width: 269px;
    height: 36px;
    display: flex;
    margin-left: 18px;
    align-items: center;   
    font-size: 25px; 
    padding-right: 30px;
    justify-content: space-between;
}

.visibilidade-privada {
    width: 269px;
    height: 36px;
    display: flex;
    margin-left: 18px;
    align-items: center;
    font-size: 25px;
    padding-right: 30px;
    justify-content: space-between;
}

.check {
    color: green;
    font-size: 15px;
}


/* VISUAIS & EFEITOS */

.escondido {
    display: none;
}

.fundo {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}